:root {
  --blue: #00acdc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 50px;
  background: #fff;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  display: block;
  height: 40px;
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item + .nav__item {
  margin-left: 20px;
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;      /* altura deve estar no link */
  padding: 0;        /* sem padding */

  text-decoration: none;
  color: #000;

  font-size: 12px;
  text-transform: uppercase;
}

.nav__link:hover {
  color: var(--blue);
}

.nav__link.is-active {
  color: var(--blue);
}

.nav__link.is-active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 4px;
  background: var(--blue);
}
